<ol class="breadcrumb">
    <li><%= link_to t('registrar.profile.show.title'), registrar_profile_path %></li>
</ol>

<div class="page-header">
    <h1><%= t '.title' %></h1>
</div>

<%= render 'form', subscription: @subscription %>
